.cart-container {
  background: #f4f4f4;
  padding: 5rem 2rem;
  min-height: 100vh;
}

.cart-container h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 400;
}

.cart-items {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  max-width: 1200px;
  height: auto;
  margin: 0 auto;
}

.cart-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0,0,0,0.05);
}

.cart-item img {
  width: 100px;
  border-radius: 8px;
}

.cart-info h3 {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 5px;
  color: #555;
}

.cart-info p {
  margin: 2px 0;
}

.remove-btn {
  background: #F2DEDE;
  border: 1px solid #eb9595;
  color: #9c6866;
  border-radius: 6px;
  padding: 0.4rem 0.8rem;
  cursor: pointer;
  transition: 0.2s;
}

.remove-btn:hover {
  background-color: #632727;
}

.cart-summary {
  text-align: center;
  margin-top: 2rem;
}

.btn-finalize-order {
  margin-top: 1rem;
  background-color: #339933;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 10px;
  cursor: pointer;
  font-weight: 500;
}

.btn-finalize-order:hover {
  background-color: #2a7a2a;
}

.empty-cart {
  text-align: center;
  color: #777;
  margin-top: 4rem;
}

.quantity-control {
  display: flex;
  align-items: center;
  gap: 8px;
}

.quantity-control button {
  border: none;
  padding: 4px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 18px;
}

.quantity-control span {
  min-width: 20px;
  text-align: center;
  font-weight: 500;
}