.text-clothes{
    
    font-weight: 300;
    overflow: hidden;
    font-size: 2.5rem;
    color: #353835;
    
    margin-top: 25px;
    width: 17%;
    text-align: right;

}

.btn-clothes{
  border: 1px solid rgb(131, 131, 131);
  width: 160px;
  height: 5vh;
  background-color: transparent;

 

  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.btn-clothes:hover{
  background-color: #7d917a;
  color: #F4F4F4;
  border: 1px solid #7d917a;
}
