

.form-login{
    width: 20%;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    height: 40%;
    
}

.form-login h2{
    font-size: 2rem;
}

.input-login{
    width: 100%;
    height: 4vh;
    border: 1px solid rgb(184, 181, 181);
}

.subtitle-login{
    font-size: 2.4rem;
    font-weight: 300;
    overflow: hidden !important;
}

.subtitle-access{
    font-size: 2.4rem !important;
    font-weight: 300;
    overflow-x: hidden !important;
    
}

.line-login{
    height: 30%;
    width: 1px;
    background-color: rgb(216, 219, 219);
}

.btn-entrar{
    color: white;
  width: 120px;
  height: 5vh;
  background-color: #A3BC9F;

  font-weight: bold;

  cursor: pointer;
}

.underline:hover{
    color: #A3BC9F;
}

.btn-google{
    height: 6vh;
    margin-top: 50px;
    border: 1px solid rgb(175, 174, 174);
    cursor: pointer;
    color: rgb(88, 88, 88);
}

.btn-apple{
     height: 6vh;
    margin-top: 20px;
    border: 1px solid rgb(175, 174, 174);
    cursor: pointer;
    color: rgb(88, 88, 88);
}

.btn-apple:hover, .btn-google:hover{
    background-color: rgb(224, 223, 223);
    transition: background-color 0.4s ease, color 0.4s ease;
}

.btn-modal{
    background-color: #A7B1A5;
    color: white;
    height: 4vh;
    border-radius: 5px;
    cursor: pointer;
}

.btn-modal:hover{
    background-color: #9aa598
}

.use-terms{
    font-size: 13px;
}

.line-modal{
    width: 45%;
    height: 1px;
    background-color: rgb(177, 177, 177);
}

.span{
    font-size: 14px;
}

.btn-social{
    border: 1px solid rgb(194, 193, 193);
    height: 4vh;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    gap: 10px;
    font-weight: 500;
}

.btn-social:hover{
    background-color: #c7c9c6;
    border: 1px solid rgb(155, 154, 154);
}

.span-error{
    font-size: 11px;
    margin-top: -20px;
}