.background-login{
  background-color: white;
  width: 70%;
  margin-top: 130px !important;
  margin-bottom: 30px !important;
  margin: auto;
  height: 80dvh;

  display: flex;
  justify-content: space-between;

  box-shadow: 0 8px 20px rgba(0,0,0,0.35);
}

.container-login{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
}

.text-login{
  color: rgb(26, 26, 26);
  font-size: 3rem;
  font-weight: 300;
  
}

.btn-login{
  border: 1px solid rgb(99, 99, 99);
  width: 44%;
  padding: 12px;
  cursor: pointer;
}

.line-login{
  width: 30%;
  background-color: gray;
  height: 1px;
}

.text-btn{
  font-weight: 500;
}

#name, #password{
  border: 1px solid rgb(99, 99, 99);
  padding: 10px;
  width: 100%;
}

.span-text{
  font-size: 0.9rem;
  color: rgb(94, 93, 93);
}

.btn-cadastrar{
  border: 1px solid black;
  padding: 10px;
}


.form-login{
  width: 90%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-container{
  width: 63%;
  height: auto;
}

@media(max-width: 425px){
  .background-login{
    flex-direction: column;
  }

  .img-login{
    display: none;
  }

  .container-login{
    width: 100%;
  }
}

@media(max-width: 1024px){
  .background-login{
    width: 94% !important;
  }
}

@media(max-width: 1440px){
    .form-container{
      width: 90%;
    }

    .text-login{
      font-size: 2.3rem;
    }

    .img-login{
      height: 80dvh;
    }

    .btn-login{
      width: 43%;
    }

    .container-btn{
      width: 70%;
    }

    .line-login{
      width: 40%;
    }
}