body{
  background-color: #F4F4F4;
}

.order-summary-container {
  max-width: 900px;
  margin: 40px auto;
  padding: 0 20px;
}

.summary-title {
  font-size: 2.4rem;
  margin-bottom: 20px;
  font-weight: 300;
}

.summary-card {
  background: #fff;
  padding: 18px;
  margin-bottom: 20px;
 
  box-shadow: 0 4px 12px rgba(0,0,0,0.06);
}

.card-title {
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 700;
}

.card-line {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}

.icon-circle {
  width: 44px;
  height: 44px;
  background: #f2f2f2;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-list {
  margin-top: 12px;
}

.product-box {
  display: flex;
  gap: 12px;
  align-items: center;
  padding: 12px 0;
  border-top: 1px solid #f0f0f0;
}

.product-img {
  width: 120px;
  height: 160px;

  
}

.product-info {
  flex: 1;
}

.delivery-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
}

.product-details {
  font-size: 15px;
  color: #444;
}

.product-price {
  min-width: 90px;
  text-align: right;
  font-weight: 700;
}

.small-info {
  font-size: 15px;
  color: #666;
}

.link-btn {
  margin-top: 8px;
  background: none;
  border: none;
  color: #1976d2;
  cursor: pointer;
  padding: 6px 0;
  font-size: 14px;
}

.resume-line {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-top: 1px solid #f3f3f3;
}

.green {
  color: #16a34a;
}

.resume-total {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
  font-weight: 700;
  font-size: 18px;
}

.total {
  color: #111;
}

.btn-finish {
  width: 100%;
  margin-top: 14px;
  padding: 12px;
  background: #1976d2;
  color: white;
  border: none;
  cursor: pointer;
  transition: 600ms;
}

.btn-finish:hover{
    background-color: #2a84dd;
}
