.container-cards{
    background-color: #F4F4F4;
}

.btn{
  margin-top: 3%;
  border: 1px solid black;
  width: 160px;
  height: 5vh;
  background-color: transparent;

  font-weight: bold;

  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.btn:hover{
  background-color: #7d917a;
  color: #F4F4F4;
  border: 1px solid #7d917a;
}

.btn-destaque{
  margin-top: 3%;
  border: 1px solid rgb(255, 255, 255);
  width: 170px;
  height: 4vh;
  font-size: 0.9rem;
  overflow: hidden;


  transition: background-color 0.4s ease, color 0.4s ease;
  cursor: pointer;
}

.btn-destaque:hover{
  background-color: #7d917a;
  color: #F4F4F4;
  border: 1px solid #7d917a;
}

.products{
  font-size: 3rem;
  color: #758573;
  font-weight: 400;
}
