.container-cards{
    background-color: #F4F4F4;
}

.card{
    background-color: #fff;
    overflow-y: hidden;
}

.text-card{
    font-size: 15px;
    padding-top: 17px;
}

.container-btn{
    margin-top: 20px;
}

.btn {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  border: 2px solid #81947e;
  width: 7rem;
  font-weight: 500;
  color: #81947e;
  cursor: pointer;
  z-index: 1;
  transition: color 0.4s ease;
}

.btn::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 0%;
  background-color: #81947e;
  z-index: -1;
  transition: height 0.4s ease;
}

.btn:hover::before {
  height: 100%;
}

.btn:hover {
  color: white;
}
