@media(max-width: 425px){
    .container-destaques{
        flex-direction: column;
    }
    .card{
        width: 80% !important;
    }

    .container-img-destaques{
        width: 90%;
        height: 50vh;
    }

    .div-destaques{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 55vh;
    }
}