.logo-dropdown-container {
  background-color: #A3BC9F;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5vh;
  border-top: 1px solid #81947e;
  gap: 2rem; 
}

.dropdown-wrapper {
  text-align: center;
  position: relative;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown-title {
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;

  text-decoration: none;
}

.dropdown-title:hover{

    color: rgb(53, 56, 53);
    filter: blur(0.4);
}

.dropdown-content {
  display: none;
  position: fixed;
  top: 16vh; 
  left: 0;
  width: 100vw; 
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  padding: 5px 0;
  z-index: 1000;
}

.dropdown-content div {
  padding: 8px 0;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}


.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 25rem;
}