.logo-dropdown-container {
  background-color: #A3BC9F;
  display: flex;
  flex-direction: row; 
  justify-content: center;
  align-items: center;
  position: relative;
  height: 5vh;
  border-top: 1px solid #81947e;
  gap: 2rem; 
}

.dropdown-wrapper {
  text-align: center;
  position: relative;
}


.dropdown-title {
  color: white;
  cursor: pointer;
  font-size: 17px;
  font-weight: 400;

  text-decoration: none;
}

.dropdown-title:hover{

    color: rgb(53, 56, 53);
    filter: blur(0.4);
}

.dropdown-content {
  opacity: 0;
  visibility: hidden;
  transform: translateY(10px);
  transition: opacity 0.3s ease, transform 0.5s ease, visibility 0.5s;
  position: fixed;
  top: 15.3vh;
  left: 0;
  width: 100vw;
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.1);
  padding: 5px 0;
  z-index: 1000;
  padding-left: 25rem;
  display: flex;
  flex-direction: column;
  text-align: start;
  pointer-events: none; 
}

.dropdown-content.show {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-content div {
  padding: 8px 0;
  color: black;
  font-size: 14px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  text-align: start;
  padding-left: 25rem;
}

.hiperlinks div:hover{
  color: #A3BC9F;
  text-decoration: underline;
}
