

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #A3BC9F;
  padding: 0 15rem;
}

.logo {
  margin-top: 1%;
  cursor: pointer;
  width: 110px;
  flex-shrink: 0;
}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.search-box {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #fff;
  padding-bottom: 5px;
  width: 100%;
  max-width: 300px;
}

.search-box input {
  border: none;
  outline: none;
  flex: 1;
  font-size: 14px;
  color: #333;
  padding-left: 5%;
  background-color: transparent;
}

.search-box input::placeholder {
  color: #ffffff;
  font-weight: 300;
}


.search-box img {
  margin-left: 8px;
  cursor: pointer;
}


.navbar-links {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.user-area {
  display: flex;
  gap: 15px;
  flex: 1;
}

.my-account{
  width: 17%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  color: #fff;
  /* font-weight: 400; */

}

.shop-cart{
  display: flex;
  align-items: center;
}

