
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #A3BC9F;

}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navbar-links {
  display: flex;
  width: 15%;
  align-items: center;
  gap: 30px;
}

.hiperlink:hover{
  color:#717e6f
}

.user-area {
  display: flex;
  width: 15%;
  justify-content: space-between;
  color: #fff;
  font-weight: 400;
}

@media(max-width: 425px){
    .navbar{
      padding: 0;
    }

    .user-area{
      align-items: flex-end;
      justify-content: center;
    }

    .my-account{
      width: 40%;
    }

    .shop-cart{
      width: 32%;
    }

    .shop-cart img{
      width: 30px;
    }

    .logo{
      width: 85px;
    }

    .search-box input{
      display: none;
    }

    .dropdown-title, .my-account a{
      font-size: 15px !important;
    }
}
