
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: #A3BC9F;

}

ul{
    flex: 1;
    list-style: none;
    text-align: center;
}

ul li{
    display: inline-block;
    margin: 10px 20px;
    font-size: 22px;
    font-weight: 400;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.navbar-links {
  display: flex;
  width: 15%;
  align-items: center;
  gap: 30px;
}

.hiperlink:hover{
  color:#717e6f;
  transition: 500ms;
}

.hiperlink:not(:hover){
  transition: 500ms;
}

.user-area {
  display: flex;
  width: 15%;
  justify-content: space-between;
  color: #fff;
  font-weight: 400;
}

.cart-drawer {
  position: fixed;
  top: 0;
  right: -400px; /* começa fora da tela */
  width: 400px;
  height: 100vh;
  background: #fff;
  box-shadow: -2px 0 10px rgba(0,0,0,0.1);
  transition: right 0.4s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.cart-drawer.open {
  right: 0;
}

.cart-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.cart-header h2 {
  font-size: 1.6rem;
  font-weight: 300;
  margin: 0;
}

.close-btn {
  font-size: 1.6rem;
  background: none;
  border: none;
  font-weight: 200;
  cursor: pointer;
}

.cart-content {
  padding: 1.5rem;
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  color: #555;
}

/* Fundo escurecido */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,0.4);
  z-index: 999;
}

.menu-icon {
  display: none;
  /* width: 2px; */
  cursor: pointer;
}

.menu-drawer {
  position: fixed;
  top: 0;
  left: -300px;
  width: 300px;
  height: 100vh;
  background: #fff;
  box-shadow: 2px 0 10px rgba(0,0,0,0.1);
  transition: left 0.4s ease;
  z-index: 1000;
  display: flex;
  flex-direction: column;
}

.menu-drawer.open {
  left: 0;
}

.menu-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  border-bottom: 1px solid #ddd;
}

.menu-content {
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
}

.menu-content a {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #333;
  text-decoration: none;
}


@media(max-width: 1024px){
  .user-area{
    width: 25% !important;
  }
}

@media(max-width: 1440px){
  .user-area{
    width: 20%;
  }
}

@media(max-width: 1366px){
  .user-area{
    width: 20%;
  }
}

@media(max-width: 425px){
    .navbar{
      padding: 0;
    }

    .user-area{
      align-items: flex-end;
      justify-content: center;
    }

    .my-account{
      width: 40%;
    }

    .shop-cart{
      width: 32%;
    }

    .shop-cart img{
      width: 30px;
    }

    .logo{
      width: 85px;
    }

    .search-box input{
      display: none;
    }

    .dropdown-title, .my-account a{
      font-size: 15px !important;
    }

      .user-area {
    display: none !important; /* esconder menu normal */
  }

  .menu-icon {
    display: block !important; /* mostrar hambúrguer */
  }
}
