footer{
    background-color: #A3BC9F;
}

.hiperlink-footer{
    color: #fff;
    font-size: 0.9rem;
    
}

.copyright{
    color: #fff;
    font-size: 0.9rem;
    padding-left: 12%;
    background-color: #92a590;
  
}

h3{
    font-size: 1.3rem;
    color: rgb(255, 255, 255);
    font-weight: bolder;
}

.us:hover{
    color: #6b7569;
}

.container-payment{
    
    margin-left: 12%;
    display: flex;
    align-items: center;
    width: 100%;
}

.payments{
    color: rgb(255, 255, 255);
    font-size: 1rem;
}

.img-payment{
    width: 11%;
}

@media(max-width: 425px){
    h3{
        font-size: 0.9rem;
    }

   
}

